<h2>Save the Date</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Location</th>
  </tr>


  <% @savedates.each do |savedate| %>
    <tr>
      <td><%= link_to savedate.eventdate, savedate %></td>
      <td><%= savedate.title %></td>
      <td><%= savedate.location %></td>
    </tr>

  <% end %>

</table>

<br /><br />

<%= link_to "Enter New Date", new_savedate_path %>
